lino/utils/bcss/XSD/SSDN/OCMW_CPAS/PERFORMINVESTIGATION/FAMILYCOMPOSITION.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by BANQUE CARREFOUR DE LA SECURITE SOCIALE (BANQUE CARREFOUR DE LA SECURITE SOCIALE) -->
<xs:schema targetNamespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/PerformInvestigation" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/PerformInvestigation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common" xmlns:person="http://www.ksz-bcss.fgov.be/XSD/SSDN/Person">
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common" schemaLocation="../../Common/CommonDataTypes.xsd"/>
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/Person" schemaLocation="../../Person/NamespaceRoot.xsd"/>
	<xs:complexType name="FamilyMemberType">
		<xs:annotation>
			<xs:documentation>A member of the family</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SocialSecurityUser" type="common:t_SSIN">
				<xs:annotation>
					<xs:documentation>Social Security number of the family member</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelationShip">
				<xs:annotation>
					<xs:documentation>Position of this member in the family, relative to the head of the family</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxInclusive value="99"/>
						<xs:minInclusive value="0"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EntryDate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date that the person has entered the family</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FamilyComposition">
		<xs:annotation>
			<xs:documentation>Describes the composition of the family of a person</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FamilyMember" type="FamilyMemberType" maxOccurs="100">
					<xs:annotation>
						<xs:documentation>A member of the family</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="origin" type="person:OriginType" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
