lino/utils/bcss/XSD/SSDN/OCMW_CPAS/PERFORMINVESTIGATION/PERFORMINVESTIGATIONREPLY.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by BANQUE CARREFOUR DE LA SECURITE SOCIALE (BANQUE CARREFOUR DE LA SECURITE SOCIALE) -->
<xs:schema targetNamespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/PerformInvestigation" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/PerformInvestigation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:person="http://www.ksz-bcss.fgov.be/XSD/SSDN/Person" xmlns:common="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common">
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common" schemaLocation="../../Common/NamespaceRoot.xsd"/>
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/Person" schemaLocation="../../Person/NamespaceRoot.xsd"/>
	<xs:include schemaLocation="AddressHistory.xsd"/>
	<xs:include schemaLocation="FamilyComposition.xsd"/>
	<xs:include schemaLocation="WaitRegister.xsd"/>
	<xs:element name="PerformInvestigationReply">
		<xs:annotation>
			<xs:documentation>Reply to a social and financial investigation request</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SocialSecurityUser" type="common:t_SSIN">
					<xs:annotation>
						<xs:documentation>Person for which the investigation was requested</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DataGroups" type="ReplyDataGroupsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The data groups returned by the investigation.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ReplyDataGroupsType">
		<xs:annotation>
			<xs:documentation>The data groups returned by the investigation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FamilyCompositionGroup" type="FamilyCompositionGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives the composition of the family</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CitizenGroup" type="CitizenGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives the full legal information about a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressHistoryGroup" type="AddressHistoryGroupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gives the address history of legal and declared addresses for a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WaitRegisterGroup" type="WaitRegisterGroupType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyCompositionGroupType">
		<xs:annotation>
			<xs:documentation>Gives the composition of the family</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="FamilyComposition"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CitizenGroupType">
		<xs:annotation>
			<xs:documentation>Gives the full legal information about a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="person:Citizen" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressHistoryGroupType">
		<xs:annotation>
			<xs:documentation>Gives the address history of legal and declared addresses for a person.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="AddressHistory" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WaitRegisterGroupType">
		<xs:annotation>
			<xs:documentation>Gives the information about a person stored in the wait register</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="WaitRegister" maxOccurs="100"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
