lino/sandbox/bcss/XSD/SSDN/OCMW_CPAS/PERFORMINVESTIGATION/PERFORMINVESTIGATIONREQUEST.XSD

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by BANQUE CARREFOUR DE LA SECURITE SOCIALE (BANQUE CARREFOUR DE LA SECURITE SOCIALE) -->
<xs:schema targetNamespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/PerformInvestigation" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/PerformInvestigation" xmlns:common="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common">
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common" schemaLocation="../../Common/CommonDataTypes.xsd"/>
	<xs:element name="PerformInvestigationRequest">
		<xs:annotation>
			<xs:documentation>Request to perform social and financial investigation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SocialSecurityUser" type="common:t_SSIN">
					<xs:annotation>
						<xs:documentation>person to perform investigation for</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DataGroups" type="RequestDataGroupsType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The possible types of information that can be obtained. If not specified, all available information is returned</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RequestDataGroupsType">
		<xs:annotation>
			<xs:documentation>The possible types of information that can be obtained. If not specified, all available information is returned</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FamilyCompositionGroup" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Give the composition of the family. Specifying true here implies that the other data groups will be returned for each member of the family, where applicable.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CitizenGroup" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Give the full set of legal information about a person.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressHistoryGroup" nillable="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Give a history of the legal and declared addresses for a person. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WaitRegisterGroup" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Returns information about a person stored in the wait register. When the person is not in the wait register but this data group is requested, no data is returned as wait register reply (only a resultsummary telling that the person is not in the wait register)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
