lino/modlib/cbss/XSD/SSDN/OCMW_CPAS/Loi65Wet65/LoiWet65_DF_decision_Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by sicksicksick (socksocksock) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by BANQUE CARREFOUR DE LA SECURITE SOCIALE (BANQUE CARREFOUR DE LA SECURITE SOCIALE) -->
<xs:schema targetNamespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/LoiWet65" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:Common65="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/LoiWet65Common" xmlns:common="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common" xmlns="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/LoiWet65" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/OCMW_CPAS/LoiWet65Common" schemaLocation="LoiWet65_Common.xsd"/>
	<xs:import namespace="http://www.ksz-bcss.fgov.be/XSD/SSDN/Common" schemaLocation="../../Common/CommonDataTypes.xsd"/>
	<xs:element name="L65_DF_DecisionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Common65:FileIdentification"/>
				<xs:element name="RefundformD1" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceMonth">
								<xs:simpleType>
									<xs:restriction base="xs:gYearMonth">
										<xs:minInclusive value="2002-01"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UniqueAttestID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SSIN" type="common:t_SSIN"/>
							<xs:element name="DeliveredAmountsD1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FinancialAid" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Amount" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MonthlyIncome" type="xs:decimal" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="MedicalCostsAmount" minOccurs="0" maxOccurs="5">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PharmaceuticalCostsAmount" minOccurs="0" maxOccurs="5">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MutBaseContributionAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MutComplementaryContributionAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MutRegularizationAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RepatriationCostsAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PlacementCostsAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="HousingCostsAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BirthAllowance" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Amount" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:decimal">
																<xs:totalDigits value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BirthDate" type="xs:date" minOccurs="0"/>
													<xs:element name="NumberOfLivingChildren" type="xs:int" minOccurs="0"/>
													<xs:element name="NumberOfStillbornChildren" type="xs:int" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GuaranteedChildAllowance" minOccurs="0">
											<xs:complexType>
												<xs:all>
													<xs:element name="Amount" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NumberOfChildren" type="xs:int" minOccurs="0"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="OtherRequestedAids" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DoubleMaximum">
											<xs:simpleType>
												<xs:restriction base="xs:boolean"/>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PrimaryBeneficiaryAids" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Art60p7Amount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Art61Amount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ActivationAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PartnerconventionAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AlimonyAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SocialEconomy" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Information about Social Economy</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Initiative" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Days" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PartnerAids" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Art60p7Amount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Art61Amount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ActivationAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PartnerconventionAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AlimonyAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SocialEconomy" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Information about Social Economy</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Initiative" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="6"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Days" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="2"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HealthServiceRegistrationStartingDate" type="xs:date" minOccurs="0"/>
							<xs:element name="TotalAmount">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="JuridicalProcedure" type="xs:boolean" minOccurs="0"/>
							<xs:element name="Integration" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="common:ClosedPeriodType">
											<xs:attribute name="qualitycode" type="xs:int" use="required"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Desintegration" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="common:ClosedPeriodType">
											<xs:attribute name="qualitycode" type="xs:int" use="required"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="CBSSEvaluation" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="ACCEPTED"/>
										<xs:pattern value="REFUSED"/>
										<xs:enumeration value="ACCEPTED"/>
										<xs:enumeration value="REFUSED"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RefundFormD2" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EntryDate">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="2002-01-01"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UniqueAttestID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SSIN" type="common:t_SSIN"/>
							<xs:element name="Suffix">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="IdentificationCareProvidingInstitution">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="INAMIRIZIVRegistrationNumber" type="xs:integer"/>
										<xs:element name="KBOBCE" type="xs:integer" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DeliveredAmountsD2">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="HospitalizationcostsBill" minOccurs="0" maxOccurs="5">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Number" block="restriction">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Year">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="4"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Amount">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="HospitalizationCostsRemainingAmount" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AmbultantCosts" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MedicalcostsAmount" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PharmaceuticalCostsAmount" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:totalDigits value="8"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="HealthServiceRegistrationStartingDate" type="xs:date" minOccurs="0"/>
							<xs:element name="TotalAmount">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:totalDigits value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="JuridicalProcedure" type="xs:boolean" minOccurs="0"/>
							<xs:element name="Integration" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="common:ClosedPeriodType">
											<xs:attribute name="qualitycode" type="xs:int" use="required"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="Desintegration" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="common:ClosedPeriodType">
											<xs:attribute name="qualitycode" type="xs:int" use="required"/>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="CBSSEvaluation" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="ACCEPTED"/>
										<xs:pattern value="REFUSED"/>
										<xs:enumeration value="ACCEPTED"/>
										<xs:enumeration value="REFUSED"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RecoveringFormF" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceDate">
								<xs:simpleType>
									<xs:restriction base="xs:date">
										<xs:minInclusive value="2002-01-01"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="UniqueAttestID">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SSIN" type="common:t_SSIN"/>
							<xs:element name="Suffix">
								<xs:simpleType>
									<xs:restriction base="xs:int">
										<xs:minInclusive value="0"/>
										<xs:maxInclusive value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RecoveringDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OriginalForm">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Type" block="restriction">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="RecoveredAmount">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:totalDigits value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PeriodOfRecovering" type="common:PeriodType"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
