lino/modlib/cbss/WSDL/WebServiceConnector.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="KSZBCSSWebServiceConnector" targetNamespace="http://ksz-bcss.fgov.be/connectors/WebServiceConnector" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ksz-bcss.fgov.be/connectors/WebServiceConnector" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://ksz-bcss.fgov.be/connectors/WebServiceConnector" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   	<xsd:complexType name="NewComplexType"/>
   	<xsd:element name="xmlString" type="xsd:string"/>
   </xsd:schema>
  </wsdl:types>
  <wsdl:message name="request">
    <wsdl:part element="tns:xmlString" name="requestXML"/>

  </wsdl:message>
  <wsdl:message name="reply">
    <wsdl:part element="tns:xmlString" name="replyXML"/>
  </wsdl:message>
  <wsdl:portType name="KSZBCSSWebServiceConnector">
    <wsdl:operation name="sendXML">
      <wsdl:input message="tns:request" name="requestXML"/>
      <wsdl:output message="tns:reply" name="replyXML"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="KSZBCSSWebServiceConnectorBinding" type="tns:KSZBCSSWebServiceConnector">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendXML">
      <soap:operation soapAction="http://ksz-bcss.fgov.be/connectors/WebServiceConnector/sendXML"/>
      <wsdl:input name="requestXML">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="replyXML">

        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KSZBCSSWebService">
    <wsdl:port binding="tns:KSZBCSSWebServiceConnectorBinding" name="KSZBCSSWebServiceConnectorPort">
      <soap:address location="https://bcssksz-services-%(cbss_environment)s.smals.be/connectors/webservice/KSZBCSSWebServiceConnectorPort"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
